.container {
  font-family: Arial, Helvetica, sans-serif;
  max-width: 300px;
  margin: auto;
  background-color: aliceblue;
  padding: 20px;
  border-radius: 10px;
}

input {
  width: 100%;
  display: block;
  margin-top: 15px;
  padding: 5px;
  box-sizing: border-box;
  margin-bottom: 10px;
  border: 1px solid black;
  border-radius: 5px;
}

button {
  border: 1px solid black;
  border-radius: 5px;
  width: 70px;
  height: 30px;
}

h1 {
  margin: 0;
}